@use '../../utils/' as *;

.sh-navbar {
  --container-max-width: 1400px;
  position: absolute;
  top:26px;
  width: 100%;

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-tertiary);
    border-radius: 12px;
  }
  &__logo-nav{
    display: flex;
    align-items: center;
    gap: 23px;
  }
  &__contact{
    display: flex;
    align-items: center;
  }
  &__logo{
   position: relative;
  }
  &__logo-content{
    position:absolute;
    top:17px;
    left:26px;
  }
  &__nav-links{
    >ul {
      list-style: none;
      display: flex;
      width: 515px;
      justify-content: space-between;
    }
  }
  & .submenu-container{
    background: #c0dd15;
  }

}


