$font-url : 'https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

:root {
    --sh-font-heading:  "Fraunces";
    --sh-font-body: "Inter";
    --tp-font-flaticon: "flaticon";
}