:root{
  --color-primary: #063D30;
  --color-secondary: #FFCF4E;
  --color-tertiary: #FFFFFF;
  --color-page-wrapper:#F2F0EC;
  --color-red:#F55;
  --color-aqua:#36E0D1;
  --color-yellow:#FFD94F;
  --color-violate:#B855FF;
  --color-pink:#FF73AE;
  --color-black:#121018;
  --color-grey:#5A5860;
  --nav-container-max-width:1400px;
  --container-max-width:1200px;
  --container-padding: 10px;
}

