.sh-help-us{
  &__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 161px;
  }

  &__img{
    flex: 0 0 auto;
    width: 52.083%;
  }

  &__content{
    flex: 0 0 auto;
    width: 37.9166%;
    margin-left: 87px;
    span{
      font-family: var(--sh-font-sub-heading),'serif';
      color: var(--color-pink);
      font-size: 30px;
      font-weight: 400;
      line-height: .5;
    }
    h2{
      font-family: var(--sh-font-heading),'serif';
      color: var(--color-black);
      font-size: 60px;
      font-weight: 700;
      line-height: 1.06;
      letter-spacing: -.04em;
    }
  }
}