.sh-positive-impact{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 268px;
    .care-text{
      font-family: var(--sh-font-heading), 'serif';
      font-size: 280px;
      font-weight: 600;
      line-height: 0.2286;
      letter-spacing:-0.04em;
      background: linear-gradient(179deg, #E0DEDA 39.13%, #F2F0EC 104.12%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__title{

  }

}