@use '../utils/' as *;

.w-img{
  & img{
    width: 100%;
  }
}

img,
svg
{
  max-width: 100%;
  display: block;
}

.fix {
  overflow:hidden
}
.clear{
  clear: both;
}

.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-3{
  z-index: 3;
}

.z-index-11{
  z-index: 11;
}
.overflow-y-visible{
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible{
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}

.sh-container{
  width: min(100%, calc(var(--container-max-width) + (var(--container-padding) * 2 )));
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
.sh-page-wrapper{
  background-color: var(--color-page-wrapper);
}
